
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Entrada SubQuadro</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Entrada SubQuadro</h1>
	<!-- Formulário para a entrada de dados do SubQuadro -->


	<form th:action="@{/subquadro/salvar}" th:object="${quadro}"
		method="post">
		<!-- Campo oculto para o ID do SubQuadro -->
		<input type="hidden" th:field="*{id}">
		<!-- Campo oculto para o ID da quadro -->
		<input type="hidden" th:name="quadroId" th:value="${quadroId}">
		<!-- Campo oculto para o ID da fonte -->
		<input type="hidden" th:name="fonteId" th:value="${fonteId}">
		<label for="nome">Nome do SubQuadro:</label><br> <input
			type="text" id="nome" th:field="*{nome}"><br> <input
			type="submit" value="Salvar">
	</form>


</body>
</html>
