
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Novo Quadro</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Novo Quadro</h1>
	<!-- Formulário para a entrada de dados da novo quadro -->
	<form th:action="@{/quadro/salvar}" th:object="${quadro}" method="post">
		<!-- Campo oculto para o ID do projeto -->
		<input type="hidden" th:name="fonteId" th:value="${fonteId}">
		<label for="nome">Nome do Quadro:</label><br> <input type="text"
			id="nome" th:field="*{nome}"><br> <input type="submit"
			value="Salvar">
	</form>
</body>
</html>