<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fontes</title>
</head>

<body>
	<h1>Fontes</h1>
	<a href="/projeto">Voltar para Projetos</a>
	<br>
	<br>
	<a th:href="@{/fonte/entrada/{projetoId}(projetoId=${projetoId})}"
		class="btn btn-primary">Nova Fonte</a>
	<table id="fontesTable">
		<thead>
			<tr>
				<th style="text-align: left;">Nome</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<!-- Linhas serão adicionadas aqui -->
		</tbody>
	</table>

	<script th:inline="javascript">
		/*<![CDATA[*/
		const fontes = /*[[${fontes}]]*/[];


		function adicionarFonte(fonte) {
			const tabela = document.getElementById('fontesTable')
				.getElementsByTagName('tbody')[0];
			const novaLinha = tabela.insertRow();

			const celulaNome = novaLinha.insertCell(0);
			const celulaEditar = novaLinha.insertCell(1);
			const celulaExcluir = novaLinha.insertCell(2);
			const celulaCopiar = novaLinha.insertCell(3);

			// Cria um elemento de link e define o nome do projeto como o texto do link
			const linkFonte = document.createElement('a');
			linkFonte.textContent = fonte.nome;
			linkFonte.href = "/fonte/" + fonte.id + "/quadro"; // Substitua 'projeto.id' pelo ID real do projeto

			// Adiciona o link à célula do nome
			celulaNome.appendChild(linkFonte);

			// Cria elementos de link para Editar, Excluir e Copiar
			const linkEditar = document.createElement('a');
			linkEditar.textContent = 'Editar';
			linkEditar.href = "/fonte/" + fonte.id + "/editar"; // Substitua 'fonte.id' pelo ID real da fonte

			// Cria um formulário de exclusão
			const formExcluir = document.createElement('form');
			formExcluir.method = 'post';
			formExcluir.action = "/fonte/" + fonte.id + "/delete";

			// Cria um campo oculto para o ID do projeto
			const inputProjetoId = document.createElement('input');
			inputProjetoId.type = 'hidden';
			inputProjetoId.name = 'projetoId';

			// Obtém o ID do projeto a partir da URL
			const urlParams = new URLSearchParams(window.location.search);
			const projetoId = urlParams.get('projetoId');

			inputProjetoId.value = projetoId; // Substitua 'projetoId' pelo ID real do projeto

			// Adiciona o campo oculto ao formulário
			formExcluir.appendChild(inputProjetoId);

			// Cria um botão de submissão para o formulário e o estiliza como um link
			const botaoExcluir = document.createElement('button');
			botaoExcluir.textContent = 'Excluir';
			botaoExcluir.style.border = 'none';
			botaoExcluir.style.background = 'none';
			botaoExcluir.style.color = 'blue';
			botaoExcluir.style.textDecoration = 'underline';
			botaoExcluir.style.cursor = 'pointer';

			// Adiciona o botão ao formulário
			formExcluir.appendChild(botaoExcluir);

			// Cria um formulário de cópia
			const formCopiar = document.createElement('form');
			formCopiar.method = 'post';
			formCopiar.action = "/fonte/" + fonte.id + "/copiar";

			// Cria um botão de submissão para o formulário e o estiliza como um link
			const botaoCopiar = document.createElement('button');
			botaoCopiar.textContent = 'Copiar';
			botaoCopiar.style.border = 'none';
			botaoCopiar.style.background = 'none';
			botaoCopiar.style.color = 'blue';
			botaoCopiar.style.textDecoration = 'underline';
			botaoCopiar.style.cursor = 'pointer';

			// Adiciona o botão ao formulário
			formCopiar.appendChild(botaoCopiar);

			// Adiciona os links às células correspondentes
			celulaEditar.appendChild(linkEditar);
			celulaExcluir.appendChild(formExcluir);
			celulaCopiar.appendChild(formCopiar);
		}

		fontes.forEach(adicionarFonte);
		/*]]>*/
	</script>
</body>

</html>